:host {
  padding: 1em;
  font-size: 3em;
  font-family: Impact, serif;
}

.timer {
  width: 80%;
  margin: auto;
  position: relative;
  padding: 3em 0;
}

.progress-bar {
  outline: 0.1em #000 solid;
  box-shadow: 0.2em 0.2em #000;
}

.progress {
  height: 1em;
  &.giltine {
    background-color: maroon;
  }
  &.abataras {
    background-color: darkviolet;
  }
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-style: italic;
  text-outline: 0.2em #000;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
}

.header, .controls {
  display: flex;
  justify-content: center;
}

.control {
  margin: 0.2em;
  padding: 0.2em 0;
  font-size: 0.8em;
  text-align: center;
  text-outline: 0.2em #333;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #333;
  cursor: pointer;
  background-color: #eee;
  border: 0.1em #333 solid;
  border-radius: 0.2em;
  min-width: 15%;
  &:hover {
    background-color: lemonchiffon;
  }
  &.active {
    &.giltine {
      background-color: maroon;
    }
    &.abataras {
      background-color: darkviolet;
    }
  }
  &.volume {
    font-size: 0.5em;
    min-width: 2em;
    min-height: 1.5em;
    position: absolute;
    left: 1em;
  }
}
