<div class="header">
  <span [class.active]="getMode() == 'giltine'" (click)="setMode('giltine')">Giltine</span>
  <span [class.active]="getMode() == 'abataras'" (click)="setMode('abataras')">Abataras</span>
</div>

<div class="timer" *ngIf="getTimerTick()">
  <div class="progress-bar">
    <div class="progress"
         [style.width]="getProgressWidth()"
         [ngClass]="getMode()"
    ></div>
  </div>
  <div class="time">{{getTimerTick()?.timeString || "CONDENSATION!"}}</div>
</div>

<button *ngIf="isPaused()" (click)="resume()">Start</button>
<button *ngIf="!isPaused()" (click)="pause()">Pause</button>
<button (click)="reset()">Reset</button>
<button (click)="stun5()">Stun (5s)</button>
<button (click)="stun15()">Stun (15s)</button>
