<span *ngIf="isMuted()" (click)="toggleMute()" class="control volume">🔈</span>
<span *ngIf="!isMuted()" (click)="toggleMute()" class="control volume">🔇</span>

<div class="header">
  <span class="control giltine"
        [class.active]="getMode() == 'giltine'"
        (click)="setMode('giltine')"
  >Giltine 50s</span>
  <span class="control abataras"
        [class.active]="getMode() == 'abataras45'"
        (click)="setMode('abataras45')"
  >Abataras 45s</span>
  <span class="control abataras"
        [class.active]="getMode() == 'abataras55'"
        (click)="setMode('abataras55')"
  >Abataras 55s</span>
</div>

<div class="timer" *ngIf="getTimerTick()">
  <div class="progress-bar">
    <div class="progress"
         [style.width]="getProgressWidth()"
         [ngClass]="getMode()"
    ></div>
  </div>
  <div class="time">{{getTimerTick()?.timeString || "CONDENSATION!"}}</div>
</div>

<div class="controls">
  <span class="control" *ngIf="isPaused()" (click)="resume()">Start</span>
  <span class="control" *ngIf="!isPaused()" (click)="pause()">Pause</span>
  <span class="control" (click)="reset()">Reset</span>
  <span class="control" (click)="startTimer(15)">15s stun timer</span>
</div>

<span class="custom-timer-input">
  <div>
    <input #timerInput type="number" class="timer-input" min="1" max="99" size="2" placeholder="0"/> s
  </div>
  <span (click)="addTimer(timerInput.value)" class="text-info">Add Custom Timer</span>
</span>

<div class="custom-timer">
  <ng-template ngFor let-timer [ngForOf]="getCustomeTimers()" let-i="index">
    <span *ngIf="timer" class="control" (click)="startTimer(timer)">{{timer}}s timer</span>
  </ng-template>
</div>

