<div class="header">
  <span *ngIf="isMuted()" (click)="toggleMute()" class="control volume">🔈</span>
  <span *ngIf="!isMuted()" (click)="toggleMute()" class="control volume">🔇</span>
  <span class="control giltine"
        [class.active]="getMode() == 'giltine'"
        (click)="setMode('giltine')"
  >Giltine</span>
  <span class="control abataras"
        [class.active]="getMode() == 'abataras'"
        (click)="setMode('abataras')"
  >Abataras</span>
</div>

<div class="timer" *ngIf="getTimerTick()">
  <div class="progress-bar">
    <div class="progress"
         [style.width]="getProgressWidth()"
         [ngClass]="getMode()"
    ></div>
  </div>
  <div class="time">{{getTimerTick()?.timeString || "CONDENSATION!"}}</div>
</div>

<div class="controls">
  <span class="control" *ngIf="isPaused()" (click)="resume()">Start</span>
  <span class="control" *ngIf="!isPaused()" (click)="pause()">Pause</span>
  <span class="control" (click)="reset()">Reset</span>
  <span class="control" (click)="stun55()">55s timer</span>
  <span class="control" (click)="stun15()">15s timer</span>
</div>

